{% extends "EmployeeTemp/base.html" %}


{% block title %}<title>(Black & white) list</title>{% endblock %}

{% block content %}
{% load static %}

<div class="countainer">
  <div class="row  ">
    <div class="col-6 ">
      <div class="card">

        <div class="card-body">

          <img src="{{sc.Image.url}}"  width="350" height="250">
          <br>
          <br>
          
          {% if Customer %}
          Customer username : {{Customer.username}}
          <br>
          Customer first name : {{Customer.first_name}}
          <br>

          Customer last name : {{Customer.last_name}}
          {% endif %}
          

        </div>
      </div>
    </div>
    <div class="col-6 ">
      <div class="card p-3">
        <div class="row">
          <div class="col-6 ">
            <div class="card text-white bg-primary mb-3" style=" height: 10rem;">

              <div class="card-body">
                <h5 class="card-title">Customer Number</h5>
                <p class="card-text">{{CustomerNumber}} </p>
              </div>
            </div>
          </div>

          <div class="col-6 ">
            <div class="card text-white bg-primary mb-3" style=" height: 10rem;">

              <div class="card-body">
                <h5 class="card-title">Servied Customer Number</h5>
                <p class="card-text">{{ServiedCustomerNumber}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6 ">
            <div class="card text-white bg-primary mb-3" style=" height: 10rem;">

              <div class="card-body">
                <h5 class="card-title">Avrage serving time</h5>
                <p class="card-text">{{avrageServingTime}}</p>
              </div>
            </div>

          </div>

          <div class="col-6 ">
            <div class="card text-white bg-primary mb-3" style=" height: 10rem;">

              <div class="card-body">
                <h5 class="card-title">Total serving Time</h5>
                <p class="card-text">{{TotalServingTime}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center mt-5 ">
    <div class="col-4 my-auto ">
      
      <form action="" method="POST">
        {% csrf_token %}


        <button type="submit " name="callNext" data-role="clock-start-stop" class="btn btn-danger pull-right btn-round btn-lg  btn-block{% if Customer %} disabled {% endif %} {% if CustomerNumber == 0 %} disabled {% endif %}"> receive a new customer
        </button>
      </form>
      <!-- <a href="" class="btn btn-outline-primary" style="width: 10rem; height: 10rem ;"><b>Click
          to</b>
        <br><b>receive<br> a new customer</b></a> -->

    </div>






    <div class="col-4 my-auto ">
      <form action="" method="POST">
        {% csrf_token %}


        <button type="submit " name="userServed" class="btn btn-danger pull-right btn-round btn-lg btn-block {% if not Customer %} disabled {% endif %}"{% if not Customer %} disabled {% endif %}> End of serving the customer
        </button>
      </form>
      <!-- <a href="" type="button" class="btn btn-outline-warning "
        style="width: 10rem; height: 10rem ;">
        <b>Click here</b> <br><b>if you are finished <br> serving the client</b>
        </b></a> -->
    </div>
    <div class="col-4 my-auto">
      <div class="card">

        <div class="card-body">
          <div class="form-group">
            <label for="exampleFormControlSelect1">send customer to service</label>

            <form action="" method="POST">
              {% csrf_token %}
              {{form.Service}}
          </div>
          <button type="submit " name="send" class="btn btn-danger pull-right btn-round  {% if not Customer %} disabled {% endif %}"{% if not Customer %} disabled {% endif %}> send </button>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>




{% endblock %}