{% include 'navbar.html'%}
{% load static %}


<!doctype html>
<html lang="en">

<head>
	{% block title %}<title>SHOW PHONES</title>{% endblock %}
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	
</head>

<body>
	{% block mynavbar %}

	{% endblock%}


	<div class="container mt-5 mb-1">
		{% block content %}

		{% endblock %}
	</div>
     

	</div>
	</div>

	<!-- Optional JavaScript -->

	<!--   Core JS Files   -->
	<script src="/static/assets/js/core/jquery.min.js"></script>
	<script src="/static/assets/js/core/popper.min.js"></script>
	<script src="/static/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
	<!-- Plugin for the momentJs  -->
	<script src="/static/assets/js/plugins/moment.min.js"></script>
	<!--  Plugin for Sweet Alert -->
	<script src="/static/assets/js/plugins/sweetalert2.js"></script>
	
	
	<!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
	<script src="/static/assets/js/plugins/bootstrap-tagsinput.js"></script>
	
	
	<!--  Notifications Plugin    -->
	<script src="/static/assets/js/plugins/bootstrap-notify.js"></script>

	

  
  <!-- Specific Page JS goes HERE  -->
  {% block javascripts %}{% endblock javascripts %}
  {% include 'includes/Emp_messages.html' %}
	
	
</body>

</html>