<html>
<body onLoad="setDate()">

<span class="time hourss">00</span>:<span class="time minutess">00</span>:<span class="time secondss">00</span>


<script language="JavaScript">


function setDate(){

	var eventdate = new Date("{{startTime|date:'Y-m-d H:i:s'}}")  //Your date should be in this format (MONTH DAY, YEAR)
	var now = new Date();

	count=Math.floor((now.getTime()-eventdate.getTime())/1000);

	sec = count%60;
	document.getElementsByClassName('secondss')[0].innerHTML = sec;
  
	count = Math.floor(count/60);
	
	min = count%60;
	document.getElementsByClassName('minutess')[0].innerHTML = min;
	 
	count = Math.floor(count/60);
	
	hour = count%24;
	document.getElementsByClassName('hourss')[0].innerHTML = hour;

	
	timer()

}

function timer(){

	if ((min < 10) && (min != "00")){
	        dismin = "0" + min
	}
	else{
	        dismin = min
	}

	if ((hour < 10) && (hour != "00")){
	        dishour = "0" + hour
	}
	else{
	        dishour = hour
	}

	dissec = (sec < 10) ? sec = "0" + sec : sec
	
	document.getElementsByClassName('secondss')[0].innerHTML =dissec;	
	document.getElementsByClassName('minutess')[0].innerHTML = dismin;	
	document.getElementsByClassName('hourss')[0].innerHTML = dishour;
	
	

	if (sec < 59){
		sec++
	}

	else{
		sec = "0"
		min++
		if (min > 59){
			min = "00"
			hour++
		}

	}

        	window.setTimeout("timer()",1000)
}

</script>

</body>
</html>