<div class="sidebar" data-color="purple" data-background-color="white" data-image="/static/assets/img/sidebar-2.jpg">

  <style>
    .MOHAMMEDcontainer {
      position: relative;
      z-index: 10;
      text-align: center;
      color: white;
    }

    .MOHAMMEDimgCircle {
      position: absolute;
      z-index: 10;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;

    }


    /* onoffswitch */

    .onoffswitch {
      position: relative;
      width: 125px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
    }

    .onoffswitch-checkbox {
      position: absolute;
      opacity: 0;
      pointer-events: none;
    }

    .onoffswitch-label {
      display: block;
      overflow: hidden;
      cursor: pointer;
      border: 2px solid #999999;
      border-radius: 20px;
    }

    .onoffswitch-inner {
      display: block;
      width: 200%;
      margin-left: -100%;
      transition: margin 0.3s ease-in 0s;
    }

    .onoffswitch-inner:before,
    .onoffswitch-inner:after {
      display: block;
      float: left;
      width: 50%;
      height: 30px;
      padding: 0;
      line-height: 30px;
      font-size: 15px;
      color: white;
      font-family: Trebuchet, Arial, sans-serif;
      font-weight: bold;
      box-sizing: border-box;
    }

    .onoffswitch-inner:before {
      content: "Online";
      padding-left: 00px;
      background-color: #AA45BB;
      color: #FFFFFF;
    }

    .onoffswitch-inner:after {
      content: "Offline";
      padding-right: 00px;
      background-color: #BAC0CC;
      color: #FFFFFF;

    }


    .onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-inner {
      margin-left: 0;
    }

    .onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-switch {
      right: 0px;
    }
  </style>

  <div class="MOHAMMEDcontainer">
    <img src="{{sc.Image.url}}" style="width:100%;" height="175">
    <img src="{{sc.Icon.url}}" class="MOHAMMEDimgCircle" width="100" height="100">
  </div>

  <div class="logo">
    <a href="" class="simple-text logo-normal ">
      <!-- Service center name -->
      {{sc.name}}
      <br>

      <div class="d-flex justify-content-center">

        <!-- <div class="onoffswitch float-right">
          <input type="checkbox" name="onoffswitch" onclick='handleClick(this);' class="onoffswitch-checkbox" id="myonoffswitch" tabindex="0">
          <label class="onoffswitch-label" for="myonoffswitch">
              <span class="onoffswitch-inner"></span>
              <span class="onoffswitch-switch"></span>
          </label>
        </div> -->
    </a>

    <a href="{% url 'scChangeState' %}" class="btn btn-primary my-2 my-sm-0 btn-round">
      {% if sc.is_online %} Online {% else %} Offline {% endif %}</a>

  </div>

  <!-- {% if sc.is_online %}
      <small><small>🟢</small> online</small>
      {% else %}
      <small><small>🔴</small>offline</small>
      {% endif %} -->




</div>
<div class="sidebar-wrapper">
  <ul class="nav">

    {% url 'dashboard' as url %}
    <li class="nav-item {% if request.path ==  url  %} active {%endif%} ">
      <a class="nav-link" href="{% url 'dashboard' %}">
        <i class="material-icons">dashboard</i>
        <p>Dashboard</p>
      </a>
    </li>
    {% url 'employees' as url %}
    <li class="nav-item {% if request.path ==  url  %} active {%endif%} ">
      <a class="nav-link" href="{% url 'employees' %}">
        <i class="material-icons">group</i>
        <p>Employees</p>
      </a>
    </li>
    {% url 'services' as url %}
    <li class="nav-item {% if request.path ==  url  %} active {%endif%} ">
      <a class="nav-link" href="{% url 'services' %}">
        <i class="material-icons">group</i>
        <p>Services</p>
      </a>
    </li>
    {% url 'black_WhiteList' as url %}
    <li class="nav-item {% if request.path ==  url  %} active {%endif%} ">
      <a class="nav-link" href="{% url 'black_WhiteList' %}">
        <i class="material-icons">group</i>
        <p>Black & white list </p>
      </a>
    </li>


    {% url 'ServiceCnterProfile' as url %}
    <li class="nav-item {% if request.path ==  url  %} active {%endif%} ">
      <a class="nav-link" href="{% url 'ServiceCnterProfile' %}">
        <i class="material-icons">group</i>
        <p> Service Center Profile </p>
      </a>
    </li>

    <!-- 
          <li class="nav-item ">
            <a class="nav-link" href="./user.html">
              <i class="material-icons">query_stats</i>
              <p>User Profile</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="./user.html">
              <i class="material-icons">support_agent</i>
              <p>User Profile</p>
            </a>
          </li> -->
    <!-- your sidebar here -->
  </ul>
  <!-- <ul class="nav">
          <li class="nav-item {% if 'index' == segment %} active {% endif %}">
            <a class="nav-link" href="/">
              <i class="material-icons">dashboard</i>
              <p>Dashboard</p>
            </a>
          </li>
          <li class="nav-item {% if 'page-user' in segment %} active {% endif %}">
            <a class="nav-link" href="/page-user.html">
              <i class="material-icons">person</i>
              <p>User Profile</p>
            </a>
          </li>
          <li class="nav-item {% if 'ui-tables' in segment %} active {% endif %}">
            <a class="nav-link" href="/ui-tables.html">
              <i class="material-icons">content_paste</i>
              <p>Table List</p>
            </a>
          </li>
          <li class="nav-item {% if 'ui-typography' in segment %} active {% endif %}">
            <a class="nav-link" href="/ui-typography.html">
              <i class="material-icons">library_books</i>
              <p>Typography</p>
            </a>
          </li>
          <li class="nav-item {% if 'ui-icons' in segment %} active {% endif %}">
            <a class="nav-link" href="/ui-icons.html">
              <i class="material-icons">bubble_chart</i>
              <p>Icons</p>
            </a>
          </li>
          <li class="nav-item {% if 'ui-maps' in segment %} active {% endif %}">
            <a class="nav-link" href="/ui-maps.html">
              <i class="material-icons">location_ons</i>
              <p>Maps</p>
            </a>
          </li>
          <li class="nav-item {% if 'ui-notifications' in segment %} active {% endif %}">
            <a class="nav-link" href="/ui-notifications.html">
              <i class="material-icons">notifications</i>
              <p>Notifications</p>
            </a>
          </li>
          
          <li class="nav-item ">
            <a class="nav-link" href="/page-rtl-support.html">
              <i class="material-icons">language</i>
              <p>RTL Support</p>
            </a>
          </li>

          <li class="nav-item ">
            <a class="nav-link" href="{% url 'logout' %}" >
              <i class="material-icons">directions_run</i>
              <p>Logout</p>
            </a>
          </li>

          <li class="nav-item active-pro ">
            <a target="_blank" rel="noopener noreferrer"  
               class="nav-link" 
               href="https://www.creative-tim.com/product/material-dashboard-django">
              <i class="material-icons">unarchive</i>
              <p>See product</p>
            </a>
          </li>
        </ul> -->
</div>


</div>