{% extends "layouts/base.html" %}

{% block title %} Services {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style>
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked+.slider {
    background-color: #2196F3;
  }

  input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
  }

  input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
</style>
{% endblock stylesheets %}

{% block content %}


{% load static %}

<div class="container ">
  <div class="row justify-content-center  ">
    {% for ser in serv %}
    <div class="col-3 ">

      <div class="card card-nav-tabs" style="width: 13rem;">
        <div class="card-header card-header-primary">
          <b>{{ser.name}}</b>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <h4><b>
                {% if ser.IS_Active %} online {%else%} offline {% endif %}


                <br> {{ser.time}}</b></h4>
          </li>

          <li class="list-group-item"><a href="{% url 'editService' ser.id %}" class="btn btn-sm btn-info">
              <dev class="material-icons">edit</dev>
            </a>
            &nbsp; &nbsp; &nbsp; &nbsp;
            <a href="{% url 'deleteService' ser.id %}" class="btn btn-sm btn-danger">
              <dev class="material-icons">delete</dev>
            </a>


            <a input href="{% url 'serviceChangeState' ser.id %}" class="switch">

              <input type="checkbox" {% if ser.IS_Active %} checked {% endif %}>
              <span class="slider round"></span>

            </a>

            &nbsp; &nbsp; &nbsp;
            <a href="{% url 'viewService' ser.id %}" class="btn btn-sm btn-info"> View </a>
          </li>
        </ul>
      </div>
    </div>



    {% endfor %}

    <div class="col-3   ">
      <div class="card card-nav-tabs" style="width: 13rem; height: 15rem ;">

        <div class="card-header card-header-primary">
          <h5 class="card-title"> create service
          </h5>
        </div>

        <div class="card-body p-3">

          <form action="" method="POST">
            {% csrf_token %}
            {{form.name}}
            {{form.defaultTime}}


            <div class="d-flex justify-content-between">
              <div>{{form.IS_Active}}
                {{form.IS_Active.label}} </div>

                <div>{{form.IS_static}}
                  {{form.IS_static.label}} </div>


              <button type="submit " name="submit" class="btn btn-primary btn-round btn-sm"> create </button>

            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>



{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}