{% extends "base_generic.html" %}


{% block title %}<title>(Black & white) list</title>{% endblock %}

{% block content %}
{% load static %}
<div class="countainer">
  <div class="row  justify-content-center ">
    <div class="col-8 ">
      <div class="card ">
        <div class="card-body">
          <div class="d-flex justify-content-between ">
            <div class="p-2  my-auto">
             <b>Search for user to add into black / white list </b> 
            </div>
            <div class="p-2  my-auto">
              <form action="/serachForUser" method="GET">

                {{UserFilter.form.username}}
              
            </div>

            <div class="p-2  my-auto">

              <button class="btn btn-primary  my-sm-0 btn-round" type="submit">Add user</button>
            </form>
            </div>



          </div>
        </div>


      </div>
    </div>
  </div>

</div>

<div class="row  justify-content-center ">
  <div class="col-5 ">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title ">white list </h4>
        <div class="d-flex justify-content-between">
          <div class="p-2">
            ======
          </div>

        </div>
      </div>

      <div class="card-body">
        {% if w_list %}
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <tr>
                <th scope="col"> ID </th>
                <th scope="col">Name</th>

                <th scope="col">Delete</th>
              </tr>
            </thead>
            <tbody>
              {% for i in w_list %}
              <tr>
                <th scope="row">{{i.user.id}}</th>
                <td>{{i.user}}</td>

                <td><a href="{% url 'deleteUserFromWL' i.id %}" class="btn  btn-danger btn-sm btn-round ">Delete</a>
                </td>

              </tr>
              {% endfor %}

            </tbody>
          </table>
        </div>
        {% else %}
        <!-- <div>Empty </div> -->
        <div class="alert alert-default ">
          <h4> <b> <big> <big>you don't have any user in white list 😅</big></big></b> </h4>
        </div>
        {% endif %}

      </div>

    </div>
  </div>

  <div class="col-5 ">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title ">Black list </h4>
        <div class="d-flex justify-content-between">
          <div class="p-2">
            ======
          </div>
          <div class="p-2"> <a href="{% url 'systemBlackList' %}" class="btn btn-sm btn-secondary ">see systemBlackList
              &nbsp;<i class="material-icons">person_add_alt</i> </a></div>
        </div>
      </div>
      <div class="card-body">
        {% if b_list %}
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <tr>
                <th scope="col"> ID </th>
                <th scope="col">Name</th>

                <th scope="col">Delete</th>
              </tr>
            </thead>
            <tbody>
              {% for i in b_list %}
              <tr>
                <th scope="row">{{i.user.id}}</th>
                <td>{{i.user}}</td>

                <td><a href="{% url 'deleteUserFromBL' i.id %}" class="btn  btn-danger btn-sm btn-round ">Delete</a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        {% else %}
        <div class="alert alert-default ">
          <h4> <b> <big> <big>you don't have any user in black list 😅</big></big></b> </h4>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>


</div>



{% endblock %}