{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="row">
  <div class="col-3 ">
    <div class="card card-nav-tabs" style="width: 15rem;">
      <div class="card-header card-header-info">
        People status on Queue today
      </div>
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Served
          <span class="badge badge-primary badge-pill">{{ServiedCustomerNumber}}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          On Queue
          <span class="badge badge-primary badge-pill">{{CustomerNumber}}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          On service center
          <span class="badge badge-primary badge-pill">{{CustomerNumberOnSC}}</span>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-3">
    <div class="card  " style="width: 15rem;">
      <div class="card-header card-header-warning">
        Services status
      </div>
      <ul class="list-group">
        {% for ser in sdList %}

        <li class="list-group-item d-flex justify-content-between align-items-center">

          <div class="btn-group">
            <button type="button" class="btn btn-secondary"> {{ser.name}}</button>
            <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item">on Queue : {{ser.CustomerNumber}}</a>
              <a class="dropdown-item"> on service center : {{ser.CustomerNumberOnSC}}</a>
              <a class="dropdown-item"> servied : {{ser.ServiedCustomerNumber}}</a>

            </div>
          </div>
        </li>
        {% endfor %}


    </div>
  </div>

  <div class="col-6">

          <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title ">Employees</h4>
              <div class="d-flex justify-content-between">
                <div class="p-2">
                </div>
                <div class="p-2"> <a href="{% url 'addEmployee' %}" class="btn btn-sm btn-secondary ">Add employee
                    &nbsp;<i class="material-icons">person_add_alt</i> </a></div>
              </div>
            </div>
            <div class="card-body text-center">
              <div class="table-responsive">
                {% if employees %}
                <table class="table text-center">
                  <thead class=" text-primary">
                    <tr>
                      <th>
    
                      </th>
                      <th>
                        Name
                      </th>
                   
                      <th>
                        Edit
                      </th>
                      <th>
                        Delete
                      </th> 
                      <th> servied</th>
                      <th>on service center</th>
                      <th>on Queue</th>
                      <th>Message</th>
                      <th>

                      </th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
    
                    {% for emp in empList %}
    
                    <tr>
                      <td>
                        <a href="{% url 'viewEmployee' emp.name.id %}" class="btn btn-sm btn-info"> View </a>
                      </td>
                      <td>
                        {{emp.name}}
                      </td>
                    
                      <td class="text-primary">
                        <a href="{% url 'updateEmployee' emp.name.id %}" class="btn btn-sm btn-info">
                          <dev class="material-icons">edit</dev>
                        </a>
                      </td>
                      <td class="text-primary">
                        <a href="{% url 'deleteEmployee' emp.name.id %}" class="btn btn-sm btn-danger">
                          <dev class="material-icons">delete</dev>
                        </a>
                      </td>

                      <td>{{emp.EmployeeServiedCustomerNumber}}</td>
                      <td>{{emp.EmployeeCustomerNumberOnSC}}</td>
                      <td>{{emp.EmployeeCustomerNumber}}</td>

                      <td> 
                        <input type="text" name="text" size="33" class="form-control" />
                        <a href="{% url 'send_message' emp.name.id  %}"    class="btn btn-primary btn-fab btn-fab-mini btn-round">  <span class="material-icons">
                          send
                          </span> </a>
                  </td>
                      
                      <td>
                      <button class="btn btn-primary btn-fab btn-fab-mini btn-round">
                        <i class="material-icons">favorite</i>
                      </button> </td>
                     <td> <button class="btn btn-primary btn-fab btn-fab-mini btn-round">
                      <span class="material-icons">
                        thumb_down
                        </span>
                    </button> </td> 
                      

                    </tr>
                    {% endfor %}
    
    
    
    
    
    
                  </tbody>
                </table>
                {% else %}
                <br><br>
                <h3>Sorry, there are no employees</h3>
                <br><br>
                {% endif %}
    
    
    
              </div>
            </div>
    
          </div>
    
    
  

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script>
  $(document).ready(function () {
    // Javascript method's body can be found in assets/js/demos.js
    md.initDashboardPageCharts();

  });
</script>

{% endblock javascripts %}