{% extends "layouts/base.html" %}

{% block title %} Page Blank {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style>
 
.vl {
  border-left: 2px solid rgb(49, 20, 63) ;
  height: 250px;
}
</style>
{% endblock stylesheets %}

{% block content %}


<div class="row justify-content-center">
    <div class="col-8 ">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title"> change your password
                </h4>
                <p class="card-category">Fill following form </p>
            </div>
            <div class="card-body">
                <div class="row justify-content-center">

                    <div class="col-md-5 ">
                        <br> <br>
                            <table class="table table-striped">
                              <tbody>
                                <tr>
                                  <td>
                                  <b>  <font size="4" color="btn-primary"> First name: </font> </b>
                                  </td>
                                  <td><font size="5"> {{user.first_name}}</font> </td>
                                </tr>
                                <tr>
                                  <td>
                                  <b> <font size=4" color="btn-primary"> Last name: </font></b> 
                                  </td>
                                  <td>   <font size="5">{{user.last_name}} </font></td>
                                </tr>
                                <tr>
                                  <td>
                                  <b>  <font size="4" color="btn-primary"> username: </font> </b> 
                                  </td>
                                  <td>  <font size="5" >{{user.username}}</font></td>
                                </tr>
                    
                              </tbody>
                            </table>
                      
                    </div>
                    <div class="vl"></div>

                    <div class="col-md-5 ">
                        <form action="" method="POST">
                            {% csrf_token %}
    
                            <table>
                                <tr>
                                    <th>{{passwordChangeForm.old_password.label}} </th>
                                    <th>{{passwordChangeForm.old_password}} </th>
                                </tr> <br>
                                <tr>
                                    <th>{{passwordChangeForm.new_password1.label}}</th>
                                    <th>{{passwordChangeForm.new_password1}}</th>
    
                                </tr>
                                <tr>
                                    <th>{{passwordChangeForm.new_password2.label}}</th>
                                    <th>{{passwordChangeForm.new_password2}}</th>
                                </tr>
    
                            </table>
                            {{passwordChangeForm.error}}
    
                            <button type="submit " name="submit" class="btn btn-primary pull-right btn-round"> change
                            </button>
    
    
                        </form>
                    </div>
    
                </div>
    
            </div>
    
        </div>
    </div>
    

</div>
<form action="{% url 'send_message' %}" method="post">
    {% csrf_token %}
    <input  type="text" name="text" />
    <button type="submit" class="btn btn-primary mb-2">send </button>

    
</form>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}





