
{% extends "layouts/base.html" %}

{% block title %}Serach for user {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


<div class="countainer">

    <div class="row  justify-content-center ">
        <div class="col-8 ">
          <div class="card ">
            <div class="card-body">
              <div class="d-flex justify-content-between ">
                <div class="p-2  my-auto">
                  <b>Search for user to add into black / white list </b>
                </div>
                <div class="p-2  my-auto">
                  <form action="/serachForUser" method="GET">
    
                    {{UserFilter.form.username}}
    
                </div>
    
                <div class="p-2  my-auto">
    
                  <button class="btn btn-primary  my-sm-0 btn-round" type="submit">Search</button>
                  </form>
                </div>
    
    
    
              </div>
            </div>
    
          </div>
        </div>
      </div>

    <div class="row ml-1 justify-content-center">

        <div class="col-9  ">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title ">users</h4>
                    <div class="d-flex justify-content-between">
                        <div class="p-2">
                            ======
                        </div>

                    </div>
                </div>

                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                                <tr>
                                    <th>
                                        user ID
                                    </th>
                                    <th>
                                        user name
                                    </th>
                                    <th>
                                        first name
                                    </th>
                                    <th>
                                        Last name
                                    </th>
                                    <th>

                                    </th>
                                    <th>

                                    </th>

                                </tr>
                            </thead>
                            <tbody>


                                {% for user in users %}




                                <tr>


                                    <td>
                                        {{user.id}}
                                    </td>
                                    <td>
                                        {{user.username}}
                                    </td>
                                    <td>
                                        {{user.first_name}}
                                    </td>
                                    <td>
                                        {{user.last_name}}<span class="material-icons-round">

                                        </span>
                                    </td>
                                    <td class="text-primary">
                                        <a href="{% url 'addToWhiteLIst' user.id %}"
                                            class="btn btn-sm btn-round btn-primary"> + white list </a>

                                    </td>
                                    <td class="text-primary">
                                        <a href="{% url 'addToBlackLIst' user.id %}"
                                            class="btn btn-sm btn-danger btn-round"> + black list </a>

                                    </td>
                                </tr>

                                {% endfor %}





                            </tbody>
                        </table>
                    </div>
                </div>

            </div>


        </div>

    </div>
</div>

    
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
