{% extends 'base_generic.html' %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-md-10  ">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title"> change your information
                </h4>
                <p class="card-category">Fill following form </p>
            </div>
            <div class="card-body">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <br>

                    <button type="submit " name="submit" class="btn btn-primary btn-round"> change </button>

                </form>
            </div>
        </div>
    </div>
</div>


{% endblock%}