{% extends "layouts/base.html" %}

{% block title %} Page Blank {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


<div class="row justify-content-center">
    <div class="col-md-10  ">
        <div class="card ">
            <div class="card-header card-header-primary">
                <h4 class="card-title"> change service center profile information
                </h4>
                <p class="card-category">Fill following form </p>
            </div>
            <div class="card-body  ">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row pt-4 pr-3">
                        <div class="col-md-3">
                            <div class="form-group bmd-form-group">
                                <label>{{form.name.label}} :</label>
                                {{form.name}}
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group bmd-form-group">
                                <label>{{form.phone.label}} :</label>
                                {{form.phone}}
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group bmd-form-group">
                                <label>{{form.location.label}} :</label>
                                {{form.location}}
                            </div>
                        </div>
                        <div class="col-md-3 pr-2 ">
                            <div class="form-group bmd-form-group">
                                <label>{{form.mapLocations.label}} URL :</label>
                                {{form.mapLocations}}
                            </div>
                        </div>
                    </div>

                    <div class="row pr-3">

                        <div class="col-md-5 d-flex align-items-stretch">
                            <div class="card">
                                <div class="card-header">
                                    Service center Image :
                                </div>
                                <a href="{{ MEDIA_URL }}images/{{ form.Image.value }}"> <img class="card-img-top"
                                        style=" height: 15rem ;" src="{{ MEDIA_URL }}images/{{ form.Image.value }}"
                                        alt="{{ form.Image.value }}"></a>
                                <div class="card-body">
                                    <input type="file" name="{{ form.Image.name }}" />
                                </div>
                            </div>
                        </div>


                        <div class="col-md-4 d-flex align-items-stretch">
                            <div class="card">
                                <div class="card-header">
                                    Service center Icon :
                                </div>
                                <a href="{{ MEDIA_URL }}images/{{ form.Icon.value }}"> <img class="card-img-top pl-3 pr-3"
                                        style=" height: 15rem ;" src="{{ MEDIA_URL }}images/{{ form.Icon.value }}"
                                        alt="{{ form.Icon.value }}"></a>

                                        <div class="card-body">
                                            <input type="file" name="{{ form.Icon.name }}" />
                                        </div>
                            </div>
                        </div>

                        <div class="col-md-3 d-flex align-items-stretch">
                            <div class="card">
                                <div class="card-header">
                                    Service center QR :
                                </div>
                                <a href="{{ MEDIA_URL }}images/{{ form.QR.value }}"> <img class="card-img-top pt-3 pb-3"
                                        style=" height: 15rem ;" src="{{ MEDIA_URL }}images/{{ form.QR.value }}"
                                        alt="images/{{ form.QR.value }}"></a>

                                <div class="card-body">
                                    <div class="d-flex justify-content-center">
                                        <input type="file" name="{{ form.QR.name }}" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- bg-dark -->
                    <a href="{% url 'editWorkTime' %}" class="btn btn-primary btn-round text-white  "> change WorkTimes </a>

                    <button type="submit" name="submit" class="btn btn-primary btn-round float-right "> save changes </button>
                    
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}