{% load static %}
<html lang="en">

<head>
    <title>Hello</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css"
        href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <!-- Material Kit CSS -->
    <link href="{% static 'assets/css/material-dashboard.css' %}" rel="stylesheet" />
</head>

<body>

    <div class="container p-3">

        <div class="row justify-content-center ">



            <b>
                <h2>{{serviceCenter.name}}</h2>
            </b>
        </div>
        <div class="row justify-content-center mt-5 ">
            {% for s in sdList %}
            <div class="col-4 ">


                <div class="card border-info  ">
                    <div class="card-header text-center card-header-primary ">
                        <b>  <font size="8" > desk : {{s.desk_num}}</font> </b>
                    </div>

                    <div class="card-body"style="width: 15rem; height: 13rem ;">

                        <!-- <h5 class="card-title"></h5> -->
                        <font size="5" >  ticket: </font>
                       
                       <h1 style="font-size:5vw">
                        <p class="card-text text-center "> {{s.eid}} </p>
                      </h1> 
                        
                    </div>
                </div>
            </div>
            {% endfor %}


        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>