{% extends "base_generic.html" %}


{% block title %}<title>(Black & white) list</title>{% endblock %}

{% block content %}
{% load static %}
<div class="container " >
  <div class ="row ">

    <div class="col-lg-2   ">
        <div class="card border-info "  >
          
            <div class="card-body">
              <h5 class="card-title">service 1</h5>
              <p class="card-text">number of provider : ..</p>
              <p class="card-text">service time : ..</p>

              <a href="#" class="btn btn-danger">Information</a>
            </div>

            
          </div>
          </div>

       
        

            
{% endblock %}