body{
   
}

.pro{
    position: absolute;
    top: 75px;
    left: -25px;
}

.img {
    border-radius: 50%;
    width: 100px;
      height: 100px;
      
  }


  .icon-bar {
    top: 75px;
    left: -25px;
    width: 150px; /* Set a specific width */
    
    background-color: #555; /* Dark-grey background */
   
    
  }
  
  .icon-bar a {
    display: block; /* Make the links appear below each other instead of side-by-side */
    text-align: center; /* Center-align text */
    padding: 16px; /* Add some padding */
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: rgb(255, 255, 255); /* White text color */
    font-size: 15px; /* Increased font-size */
    font-weight: bold;
    
  }
  
  .icon-bar a:hover {
    background-color: rgb(0, 129, 138); /* Add a hover color */
  }
  
  .active {
    background-color: #080108; /* Add an active/current color */
  }


  
  .font1{

    font-size: 22px; /* Increased font-size */
    
    margin-left: 280px;
    margin-top: 25px ;
    left: 25px;
    font-style: inherit;
    color: rgb(58, 29, 29);
  }

  * {
    box-sizing: border-box;
  }
  
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
