{% extends "layouts/base.html" %}

{% block title %} {{emp.user.username}} {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}

<div class="row justify-content-center">
  <div class="col-md-4 mb-3 ">

    <div class="card card-nav-tabs" style="width: 20rem; height: 13rem ;">

      <div class="card-header card-header-primary">
        <h4 class="card-title"> employee info
        </h4>
      </div>

      <div class="card-body p-3">
        <table class="table table-striped">
          <tbody>
            <tr>
              <td>
              <b>  <font size="4" color="btn-primary"> name </font> </b>
              </td>
              <td><font size="5"> {{emp.user.username}}</font> </td>
            </tr>
            <tr>
              <td>
              <b> <font size=4" color="btn-primary"> service </font></b> 
              </td>
              <td>   <font size="5">{{emp.Service}} </font></td>
            </tr>
            <tr>
              <td>
              <b>  <font size="4" color="btn-primary"> desk number </font> </b> 
              </td>
              <td>  <font size="5" >{{emp.desk_num}}</font></td>
            </tr>

          </tbody>
        </table>

      </div>
    </div>



  </div>



  <div class="col-lg-6 col-md-12">
    <div class="card " style="width: 34rem; height: 15rem ;">

      <div class="card-header card-header-warning">
        <h4 class="card-title">total Serving Time</h4>
      </div>
      <div class="card-body table-responsive">
        <table class="table table-hover">
          <thead class="text-warning">

            <th> <b> <font size="5">Day</font> </b></th>
            <th> <b> <font size="5">month</font> </b></th>
            <th> <b> <font size="5">year</font> </b></th>
            <th> <b> <font size="5">ALL</font> </b></th>
        
          </thead>
          <tbody>
            <tr>

              <td>
                <font size="6"> {{totalServingTime}} </font>
              </td>
              <td>  <font size="6">{{totalServingTime_month}} </font></td>
              <td> <font size="6">{{totalServingTime_year}}</font></td>
              <td> <font size="6">{{totalServingTime_all}}</font></td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>


  <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="card card-stats" style="width: 32rem; height: 13rem ;">
      <div class="card-header card-header-info card-header-icon">
        <div class="card-icon">
          Servied Customer Number
        </div>

      </div>
      <div class="card-body table-responsive">
        <table class="table table-hover">
          <thead class="text-info">

            <th> <b> <font size="5">Day</font> </b></th>
            <th> <b> <font size="5">month</font> </b></th>
            <th> <b> <font size="5">year</font> </b></th>
            <th> <b> <font size="5">ALL</font> </b></th>
          </thead>
          <tbody>
            <tr>

              <td>  <font size="6">{{customerNumberDay}} </font></td>
              <td>  <font size="6">{{customerNumberMonth}} </font></td>
              <td>  <font size="6">{{customerNumberyear}} </font></td>
              <td>  <font size="6">{{customerNumberall}} </font></td>


            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>


  <div class="col-lg-6 col-md-12">
    <div class="card " style="width: 35rem; height: 13rem ;">

      <div class="card-header card-header-danger">
        <h4 class="card-title">avarage Serving Time</h4>
      </div>
      <div class="card-body table-responsive">
        <table class="table table-hover">
          <thead class="text-danger">

            <th> <b> <font size="5">Day</font> </b></th>
            <th> <b> <font size="5">month</font> </b></th>
            <th> <b> <font size="5">year</font> </b></th>
            <th> <b> <font size="5">ALL</font> </b></th>
          </thead>
          <tbody>
            <tr>
               
              <td>  <font size="6">{{avrageServingTime}} </font></td>
              <td>  <font size="6">{{avrageServingTime_month}} </font></td>
              <td>  <font size="6">{{avrageServingTime_year}} </font></td>
              <td>  <font size="6">{{avrageServingTime_all}} </font></td>
            
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>


</div>

{% endblock%}

{% block javascripts %}
{% endblock javascripts %}