{% extends "layouts/base.html" %}

{% block title %}Change password{% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


<div class="row justify-content-center">
    <div class="col-10 ">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title"> change {{emp}} password
                </h4>
                <p class="card-category">Fill following form </p>
            </div>
            <div class="card-body">
                <br>
                <form action="" method="POST">
                    {% csrf_token %}

                    <div class="row">
                        <div class="col-12">
                            <div class="form-group bmd-form-group">
                                <label>{{form.old_password.label}}:</label>
                                {{form.old_password}}
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group bmd-form-group">
                                <label>{{form.new_password1.label}}:</label>
                                {{form.new_password1}}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="form-group  bmd-form-group">
                                <label>{{form.new_password2.label}}:</label>
                                {{form.new_password2}}

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            {{form.errors}}
                        </div>

                        <div class="col-4">
                            <button type="submit " name="submit" class="btn btn-primary pull-right btn-round"> change
                            </button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}