{% extends "layouts/base.html" %}

{% block title %} {{emp.user.username}} {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}

<div class="row justify-content-center">
  <div class="col-md-3 mb-3 ">

    <div class="card card-nav-tabs" style="width: 13rem; height: 13rem ;">

      <div class="card-header card-header-primary">
        <h5 class="card-title"> employee info
        </h5>
      </div>

      <div class="card-body p-3">
        <table class="table table-striped">
          <tbody>
            <tr>
              <td>
                <font size="2" color="btn-primary"> name </font>
              </td>
              <td> {{emp.user.username}}</td>
            </tr>
            <tr>
              <td>
                <font size="2" color="btn-primary"> service name </font>
              </td>
              <td>{{emp.Service}}</td>
            </tr>
            <tr>
              <td>
                <font size="2" color="btn-primary"> desk number </font>
              </td>
              <td>{{emp.desk_num}}</td>
            </tr>

          </tbody>
        </table>

      </div>
    </div>



  </div>



  <div class="col-lg-6 col-md-12">
    <div class="card " style="width: 30rem; height: 13rem ;">

      <div class="card-header card-header-warning">
        <h4 class="card-title">total Serving Time</h4>
      </div>
      <div class="card-body table-responsive">
        <table class="table table-hover">
          <thead class="text-warning">

            <th>Day</th>
            <th>month</th>
            <th>year</th>
            <th>ALL</th>
          </thead>
          <tbody>
            <tr>

              <td>
                <h4>{{totalServingTime}}</h4>
              </td>
              <td>{{totalServingTime_month}}</td>
              <td>{{totalServingTime_year}}</td>
              <td>{{totalServingTime_all}}</td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>


  <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="card card-stats" style="width: 30rem; height: 13rem ;">
      <div class="card-header card-header-info card-header-icon">
        <div class="card-icon">
          Servied Customer Number
        </div>

      </div>
      <div class="card-body table-responsive">
        <table class="table table-hover">
          <thead class="text-warning">

            <th>Day</th>
            <th>month</th>
            <th>year</th>
            <th> ALL</th>
          </thead>
          <tbody>
            <tr>

              <td>
                <h4>{{customerNumberDay}}</h4>
              </td>
              <td>{{customerNumberMonth}}</td>
              <td>{{customerNumberyear}}</td>
              <td>{{customerNumberall}}</td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>


  <div class="col-lg-6 col-md-12">
    <div class="card " style="width: 30rem; height: 13rem ;">

      <div class="card-header card-header-danger">
        <h4 class="card-title">avarage Serving Time</h4>
      </div>
      <div class="card-body table-responsive">
        <table class="table table-hover">
          <thead class="text-warning">

            <th>Day</th>
            <th>month</th>
            <th>year</th>
            <th> ALL</th>
          </thead>
          <tbody>
            <tr>

              <td>
                <h4>{{avrageServingTime}}</h4>
              </td>
              <td>{{avrageServingTime_month}}</td>
              <td>{{avrageServingTime_year}}</td>
              <td>{{avrageServingTime_all}}</td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>


</div>

{% endblock%}

{% block javascripts %}
{% endblock javascripts %}