{% extends 'base_generic.html' %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-md-6  ">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title"> change your password
                </h4>
                <p class="card-category">Fill following form </p>
            </div>
            <div class="card-body">
                <form action="" method="POST">
                    {% csrf_token %}

                    <table>
                        <tr>
                            <th>{{form.old_password.label}} </th>
                            <th>{{form.old_password}} </th>
                        </tr> <br>
                        <tr>
                            <th>{{form.new_password1.label}}</th>
                            <th>{{form.new_password1}}</th>

                        </tr>
                        <tr>
                            <th>{{form.new_password2.label}}</th>
                            <th>{{form.new_password2}}</th>
                        </tr>

                    </table>
                    {{form.error}}

                    <button type="submit " name="submit" class="btn btn-primary pull-right btn-round"> change
                    </button>


                </form>
            </div>
        </div>
    </div>
</div>

{% endblock%}